.aspects-form > :nth-child(n){
    border: 0;
    border-bottom: 1px solid #b0acac;
    padding: 4px 7px;
    font-size: 13px;
    margin-bottom: 7px;
}

.aspects-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
