.authForm{
    display: flex;
    flex-direction: column;
}

.authForm > :nth-child(n){
    margin-bottom: 10px;
}

.authForm > input{
    border: 0;
    border-bottom: 1px solid #b0acac;
    padding: 5px;
    font-size: 1em;
}

.authForm > button{
    margin: auto;
    margin-top: 10px;
    border: 1px solid #444;
    padding: 7px 25px;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    background: #444;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}

.error{
    color: red;font-size: 12px;
}